html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden; /* mantém segurança horizontal */
  overflow-y: hidden;  /* deixa a página rolar normalmente */
}

#FirstWave {
  background-image: url("../images/TopWaveRed.svg");
  width: 100vw;
  height: 40vh;    
  background-size: 100% auto;
}

div.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 20vh;
  height: 26vh; /* Esta linha sobrescreve a anterior */
  min-width: 50vh;
  max-width: 60vh;
  border-radius: 20px;
  position: relative; /* ← ADICIONE ISSO */
  z-index: 9999; /* ← Agora funciona! */
}
div.container1{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40vh;
  }
    
  

div.head{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 20px;
    color: #ffffff;
}

Div.namelogin{
  padding-top: 4vh;
}

input{
  padding-top: 1vh;
  border-top:transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: #ffffff solid 1px;
  color: aliceblue;
  overflow: hidden;
  outline:none ;
}

::placeholder{
    font-size: 2vh;
    color: rgba(240, 248, 255, 0.425);
    padding-top: 0px;
    padding-right: 20px;
    border-bottom-color: #777777; 
}

a {
    color: rgb(168, 168, 168);
    background-color: transparent;
    text-decoration: none; 
  }

  footer {
    position: absolute;
    width: 100vw;
    height: 24vh;
    background-image: url("../images/BottomWaveRed.svg");    
    background-size: 100% auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    bottom: -5vh;
  }

 /* botão --------------------------------------------------------*/
div.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
}
.button-58 {
    align-items: center;
    background-color: rgb(233, 0, 0);
    border: 2px solid rgb(0, 24, 61);
    box-sizing: border-box;
    color: #dfdfdf;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-58:focus {
    color: #dfdfdf;
  }
  
  .button-58:hover {
    background-color: #314361;
    border-color: #314361;
    fill: #314361;
  }
  
  .button-58:active {
    background-color: #2159ac;
    border-color: #2159ac;
    fill: #2159ac;
  }
  
  /* botão --------------------------------------------------------*/

  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .modal .container {
position: fixed;
top: 48.3%;
left: 50%;
transform: translate(-50%, -50%);
margin: 0;
z-index: 1000;
}

  .close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover {
    color: white;
  }

  .var {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 43px;
  }

  .var a {
    cursor: pointer;
    text-decoration: underline;
  }

  a.back {
    display: block;
    margin-top: 15px;
  }

  a.back {
    cursor: pointer;
  }